.container {
  display: flex;
  justify-content: center;
}

.br {
  margin-top: 1rem
}

.red-text {
  color: "red";
}

.paper {
  width: 40rem;
  margin-top: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.form-spacer {
  margin-left: 2rem;
  margin-right: 2rem;
}

.field-spacer {
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.flex {
  display: flex;
}

.extra-margin-top {
  margin-top: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.spacer {
  width: 4rem;
}

.details-layout {
  margin-top: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.details-section {
  display: flex;
  justify-content: center;
  margin: 4rem 0
}

.detail-icons {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: rgb(181, 181, 182);
}

.register-link-container {
  margin-bottom: 10rem;
  text-align: center
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  margin: .75rem
}

.form-field {
  margin-top: 1rem
}
